
html, body{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    .appWrapper {
        width: 100%;
        min-height: 100%;
        padding: 20px;
        background-image: linear-gradient(to right,rgba(170, 213, 219, 0.9) 0%, rgb(201, 231, 238) 50%, rgb(175, 248, 220) 100%);
        .header {
            width: 100%;
        }
        .content {
            width: 100%;
        }
    }
}
