.userInfoBox {
    width: 400px;
    height: 590px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, rgb(219, 219, 219) 0%, #fff 50%, rgb(219, 219, 219) 100%);
    .userImg {
        position: relative;
        width: 100%;
        height: 250px;
        border: 1px solid rgb(139, 139, 139);
        .mix-icon () {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .backgroundImgBox {
            width: 100%;
            height: 200px;
            .backgroundImg {
                display: none;
                width: 100%;
                height: 100%;
            }
            .backgroundImgShow {
                display: block;
            }
            .loadingIcon {
                .mix-icon();
            }
        }
        .avatarImgBox {
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 100px;
            height: 100px;;
            border-radius: 50%;
            transform: translateX(-50%);
            overflow: hidden;
            .avatarImg {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
            .loadingIcon {
                .mix-icon();
            }
            .updateUserAvatar {
                position: absolute;
                left: calc(50% - 46px);
                bottom: 0;
                width: 92px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 12px;
                border-bottom-right-radius: 30px;
                border-bottom-left-radius: 30px;
                background-color: rgba(255, 255, 255, 0.6);
                transition: background-color .2s linear;
                &:hover {
                    background-color: rgba(224, 251, 255, 0.8);
                    transition: background-color .2s linear;
                }
                &:active {
                    background-color: rgb(177, 217, 223);
                    transition: background-color .2s linear;
                }
            }
        }
    }
    .userNickBox {
        display: flex;
        justify-content: center;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        .userNick {
            margin-right: 5px;
        }
        .manIcon {
            color: rgb(81, 185, 180);
        }
        .womanIcon {
            color: rgb(255, 79, 176);
        }
        .concernBtn {
            font-size: 12px;
            margin-left: 10px;
            .concernText {
                padding: 2px 10px;
                border: 1px solid rgb(26, 160, 153);
                border-radius: 10px;
                transition: all linear .5s;
                &:hover {
                    color: rgb(255, 255, 255);
                    background-color: rgb(168, 227, 230);
                    transition: all linear .5s;
                }
            }
        }
    }
    .userSignBox {
        width: 80%;
        margin: auto;
        padding: 5px;
        text-align: center;
        font-size: 12px;
        border-radius: 15px;
        background-color: rgb(248, 248, 219);
        .userSignTitle {
            font-weight: bold;
        }
        .userSignContent {
            
        }
    }
    .userInfo {
        width: 100%;
        height: 290px;
        padding: 10px;
        box-sizing: border-box;
        .userInfoItem {
            width: 200px;
            height: 50px;
            line-height: 50px;
            border-radius: 15px;
            margin: 10px auto;
            text-align: center;
            color: #fff;
            cursor: pointer;
            background-color: rgb(102, 102, 102);
            transition: background-color .2s linear;
            &:hover {
                background-color: rgb(65, 65, 65);
                transition: background-color .2s linear;
            }
            .userInfoItemNum {
                margin-left: 5px;
                font-weight: bold;
                color: rgb(198, 239, 250);
            }
        }
    }
}

@media screen and (max-width: 1190px) {
    .userInfoBox {
        width: 300px;
    }
}